<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="yujian.dao.UserImgsMapper">
	<select id="getList" resultType="yujian.models.UserImgs">
		select * from userimgs
		where userid=#{userid}
	</select>
	<select id="getSingle" resultType="yujian.models.UserImgs">
		select * from userimgs
		where userimgid=#{userimgid}
		Limit 0,1
	</select>
	
	<insert id="add" parameterType="yujian.models.UserImgs">
		insert into userimgs(userimgid,userid,userimgurl)
		values(#{userimgid},#{userid},#{userimgurl})
	</insert>
	<update id="update" parameterType="yujian.models.UserImgs">
		update userimgs set
		userid=#{userid}
		,userimgurl=#{userimgurl}
		where userimgid=#{userimgid}
	</update>
	<delete id="delete">
		delete from userimgs
		where userimgid=#{userimgid}
	</delete>
	<delete id="deleteByUserID">
		delete from userimgs
		where userid=#{userid}
	</delete>
</mapper>